<div>
	<p-toast position="top-center" key="explorer" />


	<div id="main-panels" class="horizontal-layout">

		<div id="left-panel" class="vertical-layout">
			<div *ngIf="loading" class="spinner-overlay"><p-progress-spinner ariaLabel="loading" /></div>

			<aichat *ngIf="workflowStep != WorkflowStep.DisambiguateObject" [class]="{'small-ai-chat' : workflowStep === WorkflowStep.MinimizeChat}"></aichat>
			<div id="disambiguate-header" class="horizontal-layout" *ngIf="workflowStep === WorkflowStep.DisambiguateObject">
				<p-button severity="secondary" pTooltip="Back to Explorer" (onClick)="cancelDisambiguation()">
					<fa-icon [icon]="backIcon"></fa-icon>
					<label>Cancel</label>
				</p-button>
				<h2>Select An Object</h2>
				<p-button severity="secondary" pTooltip="Use the selected object to resolve the ambiguity" (onClick)="disambiguate()" [disabled]="selectedObject == null">
					<label>Select</label>
					<fa-icon [icon]="forwardIcon"></fa-icon>
				</p-button>
			</div>
			
			<!-- <input type="text" style="height: 40px; width: 96% !important; margin: 10px;" placeholder="Search for an object"> -->

			<div *ngIf="selectedObject != null || page.locations.length > 0" [class]="{'bottom-panel-half' : workflowStep == WorkflowStep.AiChatAndResults, 'bottom-panel-disambig': workflowStep == WorkflowStep.DisambiguateObject, 'bottom-panel-minichat': workflowStep == WorkflowStep.MinimizeChat}">
				<!--Minimize / Maximize button-->
				<div *ngIf="workflowStep != WorkflowStep.DisambiguateObject" class="min-max-parent"><div class="min-max">
					<p-button *ngIf="chatMinimized" severity="secondary" pTooltip="Minimize" (onClick)="minimizeChat()">
						<fa-icon [icon]="minimizeIcon"></fa-icon>
					</p-button>
					<p-button *ngIf="!chatMinimized" severity="secondary" pTooltip="Maximize" (onClick)="minimizeChat()">
						<fa-icon [icon]="upsizeIcon"></fa-icon>
					</p-button>
				</div></div>

				<results-table *ngIf="selectedObject == null"></results-table>

				<div *ngIf="selectedObject" id="graphExplorerContainer">
					<h2 class="inspector-title" style="margin: 10px; text-align: left;">{{selectedObject!.properties.label}}
					</h2>

					<p-tabs [(value)]="activeTab">
						<p-tablist>
							<p-tab value="0">Attributes</p-tab>
							<p-tab value="1">Relationships</p-tab>
						</p-tablist>
						<p-tabpanels>
							<p-tabpanel value="0">
								<attribute-panel *ngIf="selectedObject"></attribute-panel>
							</p-tabpanel>
							<p-tabpanel value="1">
								<graph-explorer *ngIf="activeTab === '1'" #graphExplorer [explorer]="this"></graph-explorer>
							</p-tabpanel>
						</p-tabpanels>
					</p-tabs>
				</div>
			</div>
		</div>

		<!-- Map -->
		<div id="map"></div>
	</div>

	<!-- Legend -->
	<p-panel [toggleable]="true" header="Layers" collapsed="true" class="legend">
		<ng-container *ngIf="orderedTypes.length > 0">
			<div cdkDropList (cdkDropListDropped)="drop($event)">
				<div class="legend-item horizontal-layout" *ngFor="let type of orderedTypes" cdkDrag>
					<ng-container *ngIf="typeLegend[type] as legend">
						<p-checkbox binary="true" [ngModel]="legend.visible" [inputId]="legend.label" (onChange)="toggleTypeLegend(legend)" />
						<div class="square" [ngStyle]="{ background: legend.color }"></div>

						<label>{{ legend.label }}</label>
					</ng-container>
				</div>
			</div>
		</ng-container>
		<hr style="margin-top:25px;">
		<h4 style="margin-bottom:15px;">Context Layers</h4>
		<div>
			<div class="legend-item horizontal-layout" *ngFor="let layer of vectorLayers$ | async">
				<p-checkbox binary="true" [ngModel]="layer.enabled" [inputId]="layer.id" (onChange)="toggleVectorLayer(layer)" />
				<div class="square" [ngStyle]="{ background: layer.color }"></div>
				<label [for]="layer.id" class="ml-2">{{ layer.label }}</label>
			</div>
		</div>

	</p-panel>

	<!--
		<div *ngIf="selectedObject" class="inspector">
			<h2 class="inspector-title">{{selectedObject.properties.label}}</h2>

			<div class="inspector-content">
				<label for="type">Type:</label>
				<span>{{selectedObject.properties.type}}</span>
				
				<label for="uri">URI:</label>
				<span
				*ngIf="getObjectUrl(selectedObject).indexOf('georegistry') !== -1">{{selectedObject.properties.uri}}</span>
				<a *ngIf="getObjectUrl(selectedObject).indexOf('georegistry') === -1" id="uri"
				[href]="getObjectUrl(selectedObject)">{{getUsaceUri(selectedObject)}}</a>
			</div>
		</div>
		-->

	<div>

	</div>

</div>